/*Styling for larger elements*/
body{
    color: #382933;
    background-color: #a4b494;
}

main{
    padding: 2%;
    margin-top: 25vh;
    z-index: 0;
}
/*Styling for all sections*/
section p{
    width:70%;
}

a {
    text-decoration:none;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.8;
}
/* Navigation styling*/
.topnav {
    overflow: hidden;
    background-color: #382933;
    font-family: 'Courier New', Courier, monospace;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #519872;
    color: white;
  }

a:hover{
    opacity: 1;
}
/*changing some browser defaults for headings */
h1{
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}

h2{
    margin-left:1vw;
}
/* header area styling*/
header{
    color:#382933;
    padding: 2%;
    position: fixed;
    top: 0;
    left: 0;
    height: 20vh;
    width: 100vw;
    z-index: 1;
    overflow: scroll;
    border: 2px solid black;

    /*Compatibility for header sections gradient background*/
    background-image: linear-gradient(to right,#a4b494, #519872, #3b5249, #382933 );
    background-image: -moz-linear-gradient(to right,#a4b494, #519872, #3b5249, #382933);
    background-image: -webkit-linear-gradient(to right,#a4b494, #519872, #3b5249, #382933);
    background-image: -o-linear-gradient(to right,#a4b494, #519872, #3b5249, #382933);
}

header p{
    display: inline-block;
    font-size: 150%
}

header p:first-of-type{
    font-weight: bold;
}

/* styling for the containers holding each section*/
div p{
    max-width: 60vw;
    line-height: 1.5em;
}
/*styling for the highlights section*/
.highlights{
    padding: 1%;
    margin: 1%;
    text-align: left;
    background-color: #519872;
    border: 2px solid  #519872;
    border-radius: 5px;

}
/*stying for the table in the highlights section*/
.highlights td{
    width: 45%;
    padding: 2%;
    margin: 1px;
    border:2px solid #519872;
    border-radius: 5px;
    transition: border-color 1s ease-out;
    -moz-transition: border-color 1s ease-out;
    -webkit-transition: border-color 1s ease-out;
    -o-transition: border-color 1s ease-out;
}
td:hover{
    border-color: #3b5249;
    border-radius: 5px;
}
/* styling for the accomplishments section*/
.accomplish{
    margin-top: 5%;
    margin-bottom: 5%;
}
/*styling for the table containing work history */
table caption{
    font-variant: small-caps;
    font-weight: bold;
}

.work{
    background-color: #a4b494;
    margin-top: 1vw;
}
.work td{
    width:65vw;
    max-width: 65vw;
    font-weight: bold;
    padding: 1%;
    color: #382933;
    line-height: 1.5em;
}

.work tr:nth-of-type(odd){
    background-color:#519872;
    border: 5px solid #519872;
    border-radius: 5px;
}

.work td:last-of-type{
    font-weight: normal;
    width: 15vw;
}
/*styling for the descriptions of job responsibilities*/
.slider  {
    opacity: .05;
    transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
}
.slider:hover {
    opacity: .99;
}
/* class for making each section visible or not*/
.invis{
    display: none;
}

/* style for adding a little something to education list*/
li:nth-of-type(odd){
    background-color:#519872;
    max-width: 30vw;
}
/* styling for the paragraph in the education section*/
#sec4 p{
    margin-left: 2vw;
}

